# Santander

## Overview

Link to the [kaggle competition page](https://www.kaggle.com/c/santander-product-recommendation).

Santander offers products recommendations to their customers to support their needs regarding financial decisions, from house downpayment to leveraging their existing equity.

Santander wants to predict which products their existing customers will use in the next month, based on their past behavior and that of similar customers. With a more effective recommendation system, Santander can better meet the individual needs of all customers and ensure their satisfaction no matter where they are in life.

The goal is to predict what additional products each customer will use in 2016-06, in addition to the ones they already used the previous month 2016-05. You will use 1.5 years of historical information: monthly records of products each customer has used.

The test and train sets are split by time, and public and private leaderboard sets are split randomly.

| Nb | Column Name           | Type | Description    |
|:--:|:----------------------|:----:|:---------------|
| 0  | fecha_dato            | Date | The table is partitioned for this column.   |
| 1  | ncodpers              | Int  | Customer code.                              |
| 2  | ~~ind_empleado~~      |      | ~~Employee index: A active, B ex employed, F filial, N not employee~~ **NOT USED** (not enough variations in the data). |
| 3  | ~~pais_residencia~~   |      | ~~Customer's Country residence.~~ **NOT USED** (almost always Spain - see indresi).  |
| 4  | sexo                  | Bool | ~~Customer's sex~~ (Is Male Y/N).                                         |
| 5  | age                   | Int  | Age                                                                       |
| 6  | fecha_alta            | Date | date when the customer first joined the bank.                             |
| 7  | ind_nuevo             | Bool | New customer Index. 1 if the customer registered in the last 6 months.    |
| 8  | antiguedad            | Int  | Customer seniority (in months).                                           |
| 9  | indrel                | Bool | Is Primary Customer at the end of the month. ~~(1: Yes - 99: No).~~       |
| 10 | ult_fec_cli_1t        | Date | Last date as primary customer (if he isn't at the end of the month)       |
| 11 | indrel_1mes           | Cat  | Customer type at the beginning of the month ,1 (First/Primary customer), 2 (co-owner ),P (Potential),3 (former primary), 4(former co-owner) |
| 12 | tiprel_1mes           | Cat  | Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)                           |
| 13 | indresi               | Bool | ~~Residence index (S (Yes) or N (No)~~ (Is Spain resident Y/N).                   |
| 14 | indext                | Bool | ~~Foreigner index (S (Yes) or N (No)~~ (Is Spain native Y/N).                     |
| 15 | ~~conyuemp~~          |      | ~~Spouse index. 1 if spouse of an employee.~~ **NOT USED** (not enough data).     |
| 16 | canal_entrada         | Cat  | channel used by the customer to join                                              |
| 17 | indfall               | Bool | ~~Deceased index. N/S~~ (Is Dead Y/N).                                            |
| 18 | ~~tipodom~~           |      | ~~Addres type. 1, primary address.~~ **NOT USED** (not enough data).              |
| 19 | ~~cod_prov~~          |      | ~~Province code (customer's address).~~ **NOT USED** (will use nomprov instead).  |
| 20 | nomprov               | Cat  | Province name                                                                     |
| 21 | ind_actividad_cliente | Bool | Activity index (1, active customer; 0, inactive customer).                        |
| 22 | renta                 | Int  | Gross income of the household.                                                    |
| 23 | segmento              | Cat  | segmentation: 01 - VIP, 02 - Individuals 03 - college graduated                   |
| 24 | ind_ahor_fin_ult1     | Bool | Saving Account              |
| 25 | ind_aval_fin_ult1     | Bool | Guarantees                  |
| 26 | ind_cco_fin_ult1      | Bool | Current Accounts            |
| 27 | ind_cder_fin_ult1     | Bool | Derivada Account            |
| 28 | ind_cno_fin_ult1      | Bool | Payroll Account             |
| 29 | ind_ctju_fin_ult1     | Bool | Junior Account              |
| 30 | ind_ctma_fin_ult1     | Bool | MÃ¡s particular Account      |
| 31 | ind_ctop_fin_ult1     | Bool | particular Account          |
| 32 | ind_ctpp_fin_ult1     | Bool | particular Plus Account     |
| 33 | ind_deco_fin_ult1     | Bool | Short-term deposits         |
| 34 | ind_deme_fin_ult1     | Bool | Medium-term deposits        |
| 35 | ind_dela_fin_ult1     | Bool | Long-term deposits          |
| 36 | ind_ecue_fin_ult1     | Bool | e-account                   |
| 37 | ind_fond_fin_ult1     | Bool | Funds                       |
| 38 | ind_hip_fin_ult1      | Bool | Mortgage                    |
| 39 | ind_plan_fin_ult1     | Bool | Pensions                    |
| 40 | ind_pres_fin_ult1     | Bool | Loans                       |
| 41 | ind_reca_fin_ult1     | Bool | Taxes                       |
| 42 | ind_tjcr_fin_ult1     | Bool | Credit Card                 |
| 43 | ind_valo_fin_ult1     | Bool | Securities                  |
| 44 | ind_viv_fin_ult1      | Bool | Home Account                |
| 45 | ind_nomina_ult1       | Bool | Payroll                     |
| 46 | ind_nom_pens_ult1     | Bool | Pensions                    |
| 47 | ind_recibo_ult1       | Bool | Direct Debit                |

___

# Import Modules

In [75]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
import pandas as pd
import numpy as np

___

# Cleaning Data

The file is fairly large so we will indicate the dtype for all columns. We made sure it does not remove any information by pre-loading a small number of columns at a time before giving each column its dtype.

## Customers and accounts

Account use is either 0 or 1 so we can store them as byte. Only two accounts have missing values. We load them as float, then replace the missing values by the number 2 for now and convert them back to a byte.

In [64]:
col_dtypes = {
'ncodpers': np.int64,
'ind_ahor_fin_ult1': np.int8,
'ind_aval_fin_ult1': np.int8,
'ind_cco_fin_ult1': np.int8,
'ind_cder_fin_ult1': np.int8,
'ind_cno_fin_ult1': np.int8,
'ind_ctju_fin_ult1': np.int8,
'ind_ctma_fin_ult1': np.int8,
'ind_ctop_fin_ult1': np.int8,
'ind_ctpp_fin_ult1': np.int8,
'ind_deco_fin_ult1': np.int8,
'ind_deme_fin_ult1': np.int8,
'ind_dela_fin_ult1': np.int8,
'ind_ecue_fin_ult1': np.int8,
'ind_fond_fin_ult1': np.int8,
'ind_hip_fin_ult1': np.int8,
'ind_plan_fin_ult1': np.int8,
'ind_pres_fin_ult1': np.int8,
'ind_reca_fin_ult1': np.int8,
'ind_tjcr_fin_ult1': np.int8,
'ind_valo_fin_ult1': np.int8,
'ind_viv_fin_ult1': np.int8,
'ind_nomina_ult1': np.float16,
'ind_nom_pens_ult1': np.float16,
'ind_recibo_ult1': np.int8
}

In [71]:

# account use - we use the value 2 for missing information (we'll update these values later)
df = (
    pd
    .read_csv('./raw_data/train_ver2.csv', usecols=[1] + list(range(24,48)), dtype=col_dtypes)
    .fillna(2)
)

df[['ind_nomina_ult1', 'ind_nom_pens_ult1']] = df[['ind_nomina_ult1', 'ind_nom_pens_ult1']].astype(np.int8)

## Store resulting df

In [263]:
df.to_hdf('accounts.h5', key='accounts')

In [267]:
df = pd.read_hdf('accounts.h5', key='accounts')

___

# Unused Fields

Columns with too many missing values will be ignored:
+ `pais_residencia`: almost all customers are in Spain. Redundant with `indresi`.
+ `conyuemp`: too many missing values.
+ `tipodom`: too many missing values.
+ `ind_empleado`: not enough variations in the data.

In [ ]:
unused_cols = ['pais_residencia', 'conyuemp', 'tipodom', 'ind_empleado']

In [ ]:
unused = pd.read_csv('./raw_data/train_ver2.csv', usecols=unused_cols + ['indresi'])

## Country

We won't use the country of residence, only `indresi` for now.

In [93]:
tmp = unused.loc[:, ['pais_residencia', 'indresi', 'ncodpers']]
tmp['is_spain'] = tmp['pais_residencia'] == 'ES'
tmp.groupby(['is_spain', 'indresi']).agg({'ncodpers': 'count'})

                  ncodpers
is_spain indresi
False    N           65862
         S               3
True     N               2
         S        13553708

In [159]:
unused['ind_empleado'].value_counts(dropna=False)

N    13638711
B        3566
F        2523
A        2492
S          17
Name: ind_empleado, dtype: int64

___

# Customer Information

Most columns have only a few values. 
+ If only two, we'll convert them to boolean. 
+ Otherwise we'll convert them to categorical. 

Columns with too many levels will be simplified to only keep values seen in more than 5% of the total rows. The rest will be bundled as "Others".

_Note: We could check the consistency of customer information across months based on the customer ID `ncodpers`, but we'll replace the missing values with the most common ones for speed._

## DataFrame

In [160]:
cust_cols = [
    'ncodpers', 
    'sexo', 'age', 'indfall',
    'indext',
    'indresi', 'nomprov', 
    'segmento', 'renta'
]

In [161]:
cust = pd.read_csv('./raw_data/train_ver2.csv', usecols=cust_cols, na_values = ' NA')

In [162]:
cust.head()

,ncodpers,sexo,age,indresi,indext,indfall,nomprov,renta,segmento
0,1375586,H,35.0,S,N,N,MALAGA,87218.10,02 - PARTICULARES
1,1050611,V,23.0,S,S,N,CIUDAD REAL,35548.74,03 - UNIVERSITARIO
2,1050612,V,23.0,S,N,N,CIUDAD REAL,122179.11,03 - UNIVERSITARIO
3,1050613,H,22.0,S,N,N,ZARAGOZA,119775.54,03 - UNIVERSITARIO
4,1050614,V,23.0,S,N,N,ZARAGOZA,NaN,03 - UNIVERSITARIO

## Missing Values

### Count of Missing Values

There are not many missing values, except for the income. We'll look at it more closely, but we'll use the most common value for the other fields.

In [163]:
na_values = cust.isna().sum().reset_index().rename(columns={0: 'na_count'})
na_values['na_perc'] = na_values['na_count'] / cust.shape[0]
na_values

      index  na_count   na_perc
0  ncodpers         0  0.000000
1      sexo     27804  0.002037
2       age     27734  0.002032
3   indresi     27734  0.002032
4    indext     27734  0.002032
5   indfall     27734  0.002032
6   nomprov     93591  0.006858
7     renta   2794375  0.204756
8  segmento    189368  0.013876

### Most Common Values

We will use the most common values for categorical data.

In [164]:
#get most common value for categorical columns
cat_cols = ['sexo', 'indresi', 'indext', 'indfall', 'nomprov', 'segmento']
most_common_values = cust.loc[:, cat_cols].mode().iloc[0]
most_common_values

sexo                        V
indresi                     S
indext                      N
indfall                     N
nomprov                MADRID
segmento    02 - PARTICULARES
Name: 0, dtype: object

### Replace Missing Values

In [225]:
# copy raw df
cust_cleaned = cust.copy(deep=True)

In [226]:
# replace missing values with most common ones
cust_cleaned.loc[:, cat_cols] = cust_cleaned.loc[:, cat_cols].fillna(most_common_values)

## Change Dtypes

In [227]:
# segmento
segmento_categories = pd.api.types.CategoricalDtype(categories=['01 - TOP', '02 - PARTICULARES', '03 - UNIVERSITARIO'])
cust_cleaned['segmento'] = cust_cleaned['segmento'].astype(segmento_categories)

In [228]:
# sexo
cust_cleaned['sexo'] = cust_cleaned['sexo'].replace({'H': 1, 'V': 0}).astype(np.int8)

# indresi (customer lives in Spain Y/N)
cust_cleaned['indresi'] = cust_cleaned['indresi'].replace({'S': 1, 'N': 0}).astype(np.int8)

# indext (customer comes from abroad Y/N - converted to customer comes from Spain Y/N)
cust_cleaned['indext'] = cust_cleaned['indext'].replace({'N': 1, 'S': 0}).astype(np.int8)

# indfall (customer is dead Y/N)
cust_cleaned['indfall'] = cust_cleaned['indfall'].replace({'S': 1, 'N': 0}).astype(np.int8)

In [229]:
# age: we take the average of the 02 - PARTICULARES group (it's the one we use for the unknown customers)
age_mean = int(cust_cleaned.loc[cust_cleaned['segmento'] == '02 - PARTICULARES', 'age'].mean())
cust_cleaned['age'] = cust_cleaned['age'].fillna(age_mean)

# we replace all the extreme ages with the max int8 value: 127
cust_cleaned.loc[cust_cleaned['age'].astype(int) > 127, 'age'] = 127

# we convert the age column to int8
cust_cleaned['age'] = cust_cleaned['age'].astype(np.int8)

## Province

We have cleaned up most of the customers variables. We will now:
+ aggregate the smaller provinces to 'Others' for simplicity.
+ convert the field to categorical.

In [240]:
# cumulative count of customers per region
prov = cust['nomprov'].value_counts().reset_index()
prov['nomprov_perc'] = prov['nomprov'] / cust.shape[0]
prov['nomprov_cumperc'] = prov['nomprov_perc'].cumsum()

# aggregate smaller provinces to 'OTHER'
prov['nomprov2'] = prov.apply(lambda x: x['index'] if x['nomprov_perc'] > 0.01 else 'OTHER', axis=1).astype('category')

prov.tail()

      index  nomprov  nomprov_perc  nomprov_cumperc nomprov2
47    ALAVA    37704      0.002763         0.988976    OTHER
48   TERUEL    22525      0.001651         0.990626    OTHER
49    SORIA    17660      0.001294         0.991920    OTHER
50  MELILLA     9460      0.000693         0.992613    OTHER
51    CEUTA     7218      0.000529         0.993142    OTHER

In [231]:
# merge the two dfs
cust_cleaned = cust_cleaned.merge(prov[['index', 'nomprov2']], left_on='nomprov', right_on='index')
cust_cleaned = cust_cleaned.drop(columns = ['nomprov', 'index']).rename(columns = {'nomprov2': 'nomprov'})

## Income

Finally, we infer the missing incomes based on province and customer segmentation.

In [238]:
# average income per segment per region
avg_income = cust_cleaned.groupby(['nomprov', 'segmento']).agg({'renta': 'mean'})

# merge the two tables
cust_cleaned = cust_cleaned.merge(avg_income, on=['nomprov', 'segmento'], how='left', suffixes=('', '_mean'))

# replace missing incomes with averages
cust_cleaned.loc[cust_cleaned['renta'].isna(), 'renta'] = cust_cleaned.loc[cust_cleaned['renta'].isna(), 'renta_mean'] 

# drop mean column
cust_cleaned = cust_cleaned.drop(columns=['renta_mean'])

# convert to integers
cust_cleaned['renta'] = cust_cleaned['renta'].astype(np.int32)

## Store resulting df

In [264]:
# save df to store
cust_cleaned.to_hdf('customers.h5', key='customers', format='t')

In [270]:
# load
customers = pd.read_hdf('customers.h5', key='customers')

## Inconsistent Information

We could clean the data more thoroughly to have consistent information for all customers. For instance, some customers are not registered as having the same sex for all months.

In [250]:

sex = (
    cust[['ncodpers', 'sexo']]
    .groupby('ncodpers')
    ['sexo'].value_counts(dropna=False)
    .rename('count').reset_index()
)

test = sex.groupby('ncodpers').count().reset_index()
#test[test['sexo'] != 1]

sex[sex['ncodpers']==1463211]

        ncodpers sexo  count
877953   1463211    H      8
877954   1463211    V      1

In [254]:
test = store['df']

In [256]:
test.shape

(13647309, 25)

In [260]:
store.info()

"<class 'pandas.io.pytables.HDFStore'>\nFile path: store.h5\n/customers            frame                              \n/df                   frame        (shape->[13647309,25])"

___

# Customer Relationship

In [18]:
relationship = df[[
    'ncodpers', 
    'canal_entrada', 
    'fecha_alta', 'antiguedad', 'ind_nuevo', 'ult_fec_cli_1t', 
    'indrel', 'indrel_1mes', 'tiprel_1mes', 'ind_actividad_cliente'
]]

In [19]:
relationship.head()

,ncodpers,canal_entrada,segmento,fecha_alta,antiguedad,ind_nuevo,ult_fec_cli_1t,indrel,indrel_1mes,tiprel_1mes,ind_actividad_cliente
0,1375586,KHL,02 - PARTICULARES,2015-01-12,6,0.0,NaN,1.0,1,A,1.0
1,1050611,KHE,03 - UNIVERSITARIO,2012-08-10,35,0.0,NaN,1.0,1,I,0.0
2,1050612,KHE,03 - UNIVERSITARIO,2012-08-10,35,0.0,NaN,1.0,1,I,0.0
3,1050613,KHD,03 - UNIVERSITARIO,2012-08-10,35,0.0,NaN,1.0,1,I,0.0
4,1050614,KHE,03 - UNIVERSITARIO,2012-08-10,35,0.0,NaN,1.0,1,A,1.0

___

# Understanding the data

In [79]:
# load from store
df = store['df']

In [81]:
df.shape

(13647309, 25)

___

## Keep active customers only

Our first step in cleaning the dataset is to remove the inactive customers, i.e. the customers who never interacted with any of their accounts.

_Note:

In [61]:
all_accounts = df.groupby('ncodpers').sum().sum(axis=1)
all_accounts.loc[all_accounts==0].shape

(224020,)

In [62]:
all_accounts.shape

(956645,)